<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>About</title>
</head>



<body>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="/">Disease Diagnosis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br><br>
<!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-8 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right" >
                        <figure>
                            <!-- <img src="file:///C:/Users/my pc/Desktop/Stroke-Risk-Prediction-imp/images/im.jpeg" alt="ak" class="img-fluid" title="about me" >  -->
                            <!-- <svg viewBox="0 0 8 8"><use xlink:href="#person"></use></svg>
                            <img src="/open-iconic/svg/person.svg"> -->
                            <!-- <img src="/open-iconic/svg/person.svg" alt="icon name"> -->
                            <img src="file:///C:/Users/my pc/Desktop/Stroke-Risk-Prediction-imp/images/im.jpeg" alt="">
                        </figure>
                    </div>
                    <!--left div-->
                    <div class="col-md-6 col-12 main_header_left" >
                        <p class="abtp">Abhinav Kaushik</p>
                        <h1 class="abth">I am currently a student at J.C. Bose University of Science and Technology and I am a <span class="abtspn"> Web Developer</span> and a <span class="abtspn">Competetive Programmer.</span></h1>
                        <!-- <button ><a href="/weather">Check now</a></button> -->
                    </div>
                    <!--right div-->
                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
<style>
    body {
        background-color: #dddddd;
    }
    
    .col-lg-4 {
        color: #3d3d3d;
        font-weight: bold;
    }
    </style>
</html>
